* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: Red hat display;
  background-color: white;
  color: white;
  width: 100%;
}

/* Nav Component */

header {
  display: flex;
  padding: 32px, 80px;
  /* height: 96px; */
  justify-content: space-between;
}

nav {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 0 32px 80px;
  justify-content: space-between;
  align-items: center;
}

.nav_btn {
  display: flex;
  padding: 28px 32px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.nav_btn2 {
  background-color: orange;
  color: orange;
  display: flex;
  padding: 28px 32px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.nav_links {
  display: flex;
  align-items: flex-start;
}

h1 {
  color: var(--Gray-900, #101828);
  font-family: Red hat display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  background-color: transparent;
  text-align: center;
}

h2 {
  color: black;
  font-family: Red hat display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

h3 {
  color: black;
  font-family: Red hat display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 79.333px */
  background-color: transparent;
}

h4 {
  color: black;
  font-family: red hat display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 79.333px */
  background-color: transparent;
}

p {
  color: black;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
  text-align: center;
  background-color: transparent;
}

button {
  background-color: transparent;
  display: flex;
  padding: 16px 28px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 2px solid var(--Gray-900, #101828);
  background: var(--Primary-25, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

img {
  background-color: transparent;
}
/* Hero Section */

.hero_section {
  background: url ("Images/Rectangle 1.png") repeat 0 0;
  width: 100%;
  padding: 96px 80px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero_text {
  display: flex;
  width: 807px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero_btn {
  background: var(--Primary-Color, #d4902a);
  border-color: transparent;
  display: flex;
  padding: 16px 32px;
  align-items: center;
}

/* About Section */

.about_section {
  background: #fff;
  display: flex;
  width: 100%;
  padding: 96px 80px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.about_text {
  max-width: 960px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Image Holder */

.image_holder {
  display: flex;
  align-items: flex-start;
}

.material {
  height: 294.363px;
  flex: 1 0 0;
  width: 288px;
}

/* Our Services */

.services_section {
  display: flex;
  width: 100%;
  padding: 96px 80px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.service_text {
  display: flex;
  width: 768px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.services_step {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  column-gap: 32px;
  align-self: stretch;
}

.step_holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

/* Value Section */

.value_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 57px 32px;
  flex-direction: row;
  flex-wrap: wrap;
}

.value_holder {
  display: flex;
  width: 405.333px;
  padding: 24px 24px 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  background: var(--Warning-50, #fffaeb);
}

/* Testimonial Section */

.testimonial_section {
  display: flex;
  width: 100%;
  padding: 96px 80px;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.quote_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

/* FOOTER SECTION */

.footer_section {
  display: flex;
  width: 100%;
  padding: 64px 80px 48px 80px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.line_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}